{% extends "generic.html" %}
{% load staticfiles %}

{% load django_tables2 %}
{% block content %}
<h1>{{Title}}</h1>
{% for i in instrumentsetting_list %}
    <h3>{{i}}</h3>
  {% if i.description or i.files.all %}
    <ul>
        {% if i.description %}
          <li>{{i.description}}</li>
        {%endif%}

        {% for file in i.files.all %}
          <li> <a href="{{ file.url }}" download>{{file}}</a> </li>
        {%endfor%}

        {% if i.comments %}
          <li>{{i.comments}}</li>
        {%endif%}
    </ul>
    {% endif %}
{% endfor %}
{% endblock %}
