{% extends "generic.html" %}
{% load staticfiles %}

{% load django_tables2 %}
{% block content %}
<h1>{{Title}}</h1>
  {% for Protocol in protocol_list %}
      <h3>{{Protocol}}</h3>
    {% if Protocol.description or Protocol.files.all %}
      <ul>
          {% if Protocol.description %}
            <li>{{Protocol.description}}</li>
          {%endif%}

          {% for file in Protocol.files.all %}
            <li> <a href="{{ file.url }}" download>{{file}}</a> </li>
          {%endfor%}

          {% if Protocol.comments %}
            <li>{{Protocol.comments}}</li>
          {%endif%}
      </ul>
    {% endif %}
{% endfor %}
{% endblock %}
