.nav-block {
    height: 40px;
    border-radius: 10px;
    top: 0;
}

.nav-block__title {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
}

.nav-block:hover {
    top: -4px;
    cursor: pointer;
}

a.nav-block {
    width: 160px;
    background: #002e5d;
    margin-top: 10px; /* This is for the buttons on Add dataset to be spaced apart */
    color: #FEFEFE;
    display: grid;
}
input.nav-block {
    width: 80px;
    color: #fff;
    background: #002e5d;
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
    border: 0px;
}
